body{

margin:0;
font-family:'Poppins',sans-serif;
color:white;
text-align:center;

background-image:url("sakura.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;

}

.overlay{

background:rgba(0,0,0,0.5);
min-height:100vh;
padding-top:40px;

}

.avatar{

width:150px;
border-radius:50%;
border:4px solid pink;
box-shadow:0 0 20px pink;

}

h1{

font-size:40px;
margin:10px;

}

#typing{

font-size:18px;
opacity:0.9;

}

.bio{

width:500px;
margin:30px auto;

background:rgba(0,0,0,0.7);
padding:20px;
border-radius:15px;

font-family:monospace;
text-align:left;

}

.cards{

display:flex;
justify-content:center;
gap:20px;

}

.card{

background:rgba(255,255,255,0.1);
padding:25px;
border-radius:20px;

width:220px;

backdrop-filter:blur(10px);

}

.music{
.music-card{

width:350px;
margin:50px auto;

background:rgba(0,0,0,0.6);

padding:15px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.5);

backdrop-filter:blur(8px);

}

.music-card h3{

margin-bottom:10px;

}

.music-card iframe{

width:100%;

height:180px;

border-radius:12px;

}
margin-top:40px;

}
